$clr-primary-100: hsl(0, 0%, 100%);
$clr-primary-900: hsl(0, 0%, 0%);
$clr-primary-600: hsl(0, 0%, 55%);
$clr-primary-800: hsl(0, 0%, 41%);

$clr-linear-gradient: linear-gradient(to right, hsl(0, 0%, 0%, .6), hsl(0, 0%, 0%, 0.4), hsl(0, 0%, 0%, 0));

$clr-linear-gradient-desktop: linear-gradient(to top, hsl(0, 0%, 0%, .6), hsl(0, 0%, 0%, 0.4), hsl(0, 0%, 0%, 0));