@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

$fs-primary: .9375rem;

$ff-primary: 'Alata', sans-serif;
$fw-regular: 400;

$ff-secondary: 'Josefin Sans', sans-serif;
$fw-light: 300;